.swimlane {
  background-color: #ebecf0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  margin: 10px;
  padding: 10px;
  min-width: 280px;
  width: 300px;
  height: 80vh;
  border-top: 6px solid #004b26;
}
.swimlane:first-child {
  margin-left: 0;
}
/* .swimlane:last-child {
  margin-right: 20px;
} */
.swimlane-header {
  display: flex;
  justify-content: space-between;
}
.swimlane-title {
  text-align: left;
  font-weight: 600;
  margin: 10px 0;
}
.swimlane-header .add-card {
  padding: 10px;
}
hr.swimlane-divider {
  margin: 0 0 10px 0;
}
.swimlane-container {
  overflow-x: auto;
  height: 93%;
}
